* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header and Navigation Styles */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.text-title {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    height: 32px;
    width: 79px;
    left: 1256px;
    top: 68px;
    border-radius: nullpx;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../media/header_bg.png'), url(../media/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: auto, 80px;
}

/* Banner Styles */
.banner {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.banner-sub-title {
    font-weight: 600;
    font-weight: 45px;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
}

.btn-banner {
    margin-top: 20px;
    position: absolute;
    width: 200px;
    height: 64px;
    top: 580px;
    background-color: #FD6E0A;
    color: #FFFFFF
}

.cv-contact {
    display: flex;
}

.btn-contact {
    margin-top: 20px;
    color: #FD6E0A;
    background-color: #FFFFFF;
    width: 150px;
    height: 60px;
    border-radius: 5px;
}

/* Main Section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About section styles */
.about {
    margin-top: 131px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* About Info Styles */

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.about .info-title {
    color: #474747;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}

/* What I do Section */
.what-i-do {
    text-align: center;
}

.section-title-skills {
    margin-top: 130px;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.section-description-skills {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.skill {
    width: 267px;
    height: 377px;
    left: 230px;
    top: 1865px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    text-align: left;
}

.skill-img {
    width: 44px;
    height: 44px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 193px;
}

.skill-desk {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 33px;
}

.skill-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* Summary Section Styles */
.summary-resume {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 113px;
}

.summary-resume-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 113px;
}

.summary-container {
    display: flex;
    gap: 24px;
}

.summary {
    text-align: left;
}

.summary-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.summary-desk {
    width: 511px;
    height: 175px;
}

.sum-tilte {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
}

.sum-time {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.sum-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.summary-line {
    margin-bottom: 30px;
    border: 1px solid #D1D1D1;
}

.btn-summary {
    width: 200px;
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    margin-top: 50px;
    color: #FFFFFF;
}

/* Footer Styles */
footer {
    width: 100%;
    height: 580px;
    background-color: #FFF8F3;
    /* padding: 30px 50px;   up-down left-right */
    margin-bottom: 20px;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 117px;
    margin-left: 242px;
    margin-right: 218px;
}

.footer-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-top: 92px;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}

.social {
    display: flex;
    margin-top: 30px;
}

.follow {
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

.submit {
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    margin-bottom: 168px;
}

.input-1 {
    margin-top: 28px;
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px;
}

.input-2 {
    margin-top: 24px;
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px;
}

.input-3 {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 400px;
    height: 130px;
    background: #FFFFFF;
    border-radius: 5px;
}